<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Self-Help Guide</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      The intrusive thought "<%= obsession.hypotheticalize %>" is not a true reflection of me,
      but rather, a distortion manufactured by OCD.
    </li>
    <li class="list-group-item list-group-item-success">
      Although my anxiety reaches its peak at level <%= obsession.anxiety_rating %>,
      I know that it will de-escalate<%= obsession.rhyme_symptoms %>.
    </li>
    <li class="list-group-item list-group-item-success">
      I'll control my response to <%= obsession.triggers %> and similar triggers
      since engaging in rituals only makes my obsessions grow bigger!
    </li>
  </ul>
</div>
