<h1>History of Obsessions</h1>

<div>
  <h3>Filter Obsessions by...</h3>

  <br>

  <%= render partial: filters, locals: { patients: @patients, themes: @themes } %>
</div>

<hr>

<%= display_obsessions(@obsessions) %>
