<h2>History of Obsessions</h2>

<br>

<%= render "search" if current_user.patient? || current_user.therapist? %>

<div>
  <h3>Filter Obsessions by...</h3>

  <br>

  <%= render partial: filters, locals: { counselees: @counselees, themes: @themes } %>
</div>

<hr>

<%= display_obsessions(@obsessions) %>
