<h1>History of Obsessions</h1>

<div>
  <h3>Filter Obsessions by...</h3>

  <br>

  <%= render partial: filters, locals: { patients: @patients, themes: @themes } %>
</div>

<br>

<% if @obsession %>
  <%= render partial: "obsession_div", locals: { obsession: @obsession } %>
<% elsif @obsessions %>
  <% @obsessions.each do |obsession| %>
    <%= render partial: "obsession_div", locals: { obsession: obsession } %>
  <% end %>
<% end %>
