<h1>History of Obsessions</h1>

<div>
  <h3>Filter Obsessions by...</h3>

  <br>

  <%= render partial: filters, locals: { patients: @patients, themes: @themes } %>
</div>

<hr>

<% if @obsessions %>
<ul>
  <% @obsessions.each do |obsession| %>
    <li><%= link_to obsession.intrusive_thought, obsession_path(obsession) %></li>
  <% end %>
</ul>
<% end %>
