<h1>Self-Help Guide</h1>

<h3>Deconstructing the Obsession</h3>

<br>

<div class="well well-sm">
  <h4>Self-Help Guide</h4>
  <%= render partial: "self_help_ul", locals: { obsession: @obsession } %>
</div>

<div class="well well-sm">
  <h4>Comment on This Obsession</h4>
  <%= render partial: "comments/form", locals: { obsession: @obsession, comment: @comment } %>
</div>
