<div class="well well-lg">
  <p><em>On <%= updated_on(comment) %>, <%= comment.user_name %> commented:</em></p>

  <p><strong>"<%= comment.content %>"</strong></p>

  <% if policy(comment).edit? %>
  <% end %>

  <% if policy(comment).destroy? %>
  <% end %>
</div>
