<h3>Comments on Obsession: <em>"<%= @obsession.intrusive_thought %>"</em></h3>

<br>

<%= render partial: "filter_comments", locals: { obsession: @obsession } unless @comments.empty? %>

<br>

<%= render(@comments) || "No comments were found." %>

<%= link_to "Go back to obsession", obsession_path(@obsession) %>
