<%= render partial: "filter_plans/shared_plan_filters", locals: { obsessions: obsessions, themes: themes, counselees: counselees } %>
<br>

<h4>Retrieve Your Patients' Progress Reports</h4>

<%= form_tag plans_path, method: "get" do %>
  <%= label_tag :patient_progressing, "Pick the patient whose progress report you want to retrieve" %>:
  <%= select_tag :patient_progressing, options_from_collection_for_select(counselees, "id", "name"), prompt: "Pick Patient" %>
<% end %>
