<div class="well well-lg">
  <h4><mark><%= theme.name %></mark></h4>

  <% unless theme.description.blank? %>
    <p><%= theme.description %></p>
  <% end %>

  <p><em><%= tally_popularity(theme) %></em></p>

  <% if policy(theme).destroy? %>
    
  <% end %>
</div>
