<ul>
  <% users.find_each do |user| %>
    <% if local_assigns[:contact] %>
      <li><strong><%= link_to user.name, user_path(user) %></strong> - <%= user.email %></li>
    <% else %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  <% end %>
</ul>
