<%= form_for [user, note] do |note_builder| %>
  <div class="field">
    <%= note_builder.label :content %><br>
    <%= note_builder.text_area :content, :placeholder => (note.errors.full_messages_for(:content).first) %>
  </div>

  <div class="actions">
    <%= note_builder.submit %>
  </div>
<% end %>
