<h2>Admin Account</h2>

<h4>Welcome, <%= current_user.name %>!</h4>

<br>

<div class="well well-sm">
  <p><u>OCDefeat Enrollment Statistics</u></p>
</div>

<%= render partial: "manage_account", locals: { user: @user } %>
