<h2>Patient Profile</h2>

<h3><%= show_severity(@user) %></h3>

<br>

<div class="well well-sm">
  <h4><em>Medical History</em></h4>

  <br>

  <%= vary_variant(@user) %>

  <% unless @user.treatments.empty? %>
    <br><br>
    <p><strong>Previous Treatment:</strong></p>
    <ul>
      <% @user.treatments.each do |treatment| %>
        <li><%= treatment.treatment_type %> - <%= UserTreatment.find_by(user: @user, treatment: treatment).duration %></li>
      <% end %>
    </ul>
  <% end %>
</div>
