<h2><strong>Patient Profile</strong></h2>

<h4><%= @user.name %> vs. <%= @user.severity %> OCD</h4>

<br>

<div class="well well-lg">
  <p><strong>Obsession Count:</strong> You are currently conquering <%= pluralize(@user.obsession_count, "obsession") %>!</p>

  <br>

  <p>Fixated on something else? <%= link_to "Create a new obsession", new_obsession_path %> that you'll surely overcome!</p>

  <br>
</div>
