<h2>Thank you for joining the OCDefeat community!</h2>

<h5><em>Your registration information has been received, and your role assignment is pending.</em></h5>

<br>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Role Requested:</strong> <%= @user.role_requested %></p>



<%= render partial: "manage_account", locals: { user: @user } %>
