<h1>Thank you for joining the OCDefeat community!</h1>

<h3><em>Your registration information has been received, and your role assignment is pending.</em></h3>

<br>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Role Requested:</strong> <%= @user.role_requested %></p>

<% if @user.provider == "twitter" %>
  <div class="unassigned well">
    <h4 class="unassigned">Thanks for logging in with Twitter!</h4>
    <p class="unassigned">You automatically registered as a prospective <strong>patient</strong> who has <strong>mild</strong>, <strong>traditional</strong> OCD.</p>
    <p class="unassigned">If this is an inaccurate OCD diagnosis and/or you prefer a different role,</p>
    <p class="unassigned">you can <%= link_to "override OCDefeat's default settings!", edit_user_path(@user) %></p>
  </div>
<% end %>

<%= render partial: "manage_account", locals: { user: @user } %>
