<h1>Thank you for joining the OCDefeat community!</h1>

<h3><em>Your registration information is being processed, and your role assignment is pending.</em></h3>

<br>

<p><strong>Name:</strong> <%= @user.name %></p>

<p><strong>Role Requested:</strong> <%= @user.role_requested %></p>

<%= link_to "Edit Account", edit_user_path(@user) %>

<%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Your account will be permanently deleted. Are you sure you want to leave the OCDefeat community?" } %>
