<li class="active"><%= link_to "Patient Profile", user_path(current_user) %></li>
<li><%= link_to "Directory of Therapists", users_path %></li>
<li><%= link_to "Create New Obsession", new_obsession_path %></li>
