<li><%= link_to "OCDefeat Homepage", root_path %></li>
<li><%= link_to "Preliminary Profile", user_path(current_user) %></li>
<li><%= link_to "Common OCD Themes", themes_path %></li>
<li><%= link_to "Logout", logout_path, method: :delete %></li>
