<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Exposure and Response Prevention (ERP)</h3>
  </div>
  <div class="panel-body">
    <p>The overarching objective of Exposure and Response Prevention (ERP) is to develop anxiety tolerance.</p>
    <p>As such, you should design a plan in which you expose yourself to the things or ideas you fear most.</p>
    <p>Rather than trying to extinguish or refute an unsettling thought, practice gentle acceptance of your discomfort</p>
    <p>and resist the urge to perform rituals that only exacerbate the disorder.</p>

    <hr>

    <p>After executing each exercise, remember to rate the degree of discomfort you experienced.</p>
    <p>Add as many steps to your plan as necessary, until the fear elicited by your obsessions deescalates to a more manageable level.</p>
    <p>Through repeated exposure you will learn to control your response to triggers</p>
    <p>until you become habituated to these fearful stimuli and achieve full desensitization!</p>

    <hr>

    <p><strong>Please Note:</strong> A plan can only be marked as finished when all of the steps that comprise it are completed.</p>
    <p>Once marked as finished, your ERP plan will be permanently archived and added to your arsenal of therapy tools and resources.</p>

    <br>

    <p><em>Good luck...and happy desensitizing!</em></p>
  </div>
</div>
