<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-success">
        <div class="panel-heading">Exposure and Response Prevention (ERP)</div>
        <div class="panel-body">
          <p class="erp">
              The overarching objective of <em>Exposure and Response Prevention (ERP)</em> is to develop anxiety tolerance.<br>
            As such, you should design a plan in which you expose yourself to the things or ideas you fear most.<br>
            Rather than trying to extinguish or refute an unsettling thought, practice gentle acceptance of your discomfort<br>
            and resist the urge to perform rituals that only exacerbate the disorder.
          </p>
          <p class="erp">
            After executing each exposure exercise, remember to rate the degree of discomfort you experienced.<br>
            Add as many steps to your plan as necessary, until the fear elicited by your triggers deescalates to a more manageable level.
            Through repeated exposure, you will learn to control your response to triggers
            until you become habituated to these fearful stimuli and achieve full desensitization!
          </p>
          <p>
            Please note: An ERP plan can only be marked as finished when all of the steps that comprise it are completed.
            Once marked as finished, your ineditable ERP plan will be permanently archived
            and added to your arsenal of therapy tools and resources.
          </p>
          <p><em>Good luck...and happy desensitizing!</em></p>
        </div>
      </div>
    </div>
  <div class="col-md-2"></div>
</div>
