<%= div_for_step(step) do %>
  <div class="well well-lg">
    <h4>STEP # <%= step.plan.steps.find_index(step).to_i + 1 %></h4>
    <p><strong>Instructions for Performing ERP Exercise:</strong> <%= step.instructions %></p>
    <p><strong>Duration of Exercise:</strong> <%= step.duration %></p>
  </div>
  <br>
<% end %>
