<p><%= link_to "Go back to plan", plan_path(@plan) %></p>

<h2>Editing ERP Exercise</h2>

<h4><em>How can you optimize this exposure opportunity to become habituated to your triggers?</em></h4>

<%= render partial: "step", locals: { step: @step, plan: @plan } %>
