<h2>Editing ERP Exercise</h2>

<br>

<h4>How can you optimize this exposure opportunity to achieve desensitization?</h4>

<br>

<%= render partial: "step", locals: { step: @step, plan: @plan } %>

<br>

<p><%= link_to "Go back to plan", plan_path(@plan) %></p>
