// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#error_explanation {
  color: #a94442;
}

.field_with_errors label {
  background-color: #f2dede;
  color: #a94442;
}
