<div class="form-check">
  <%= form_for(plan) do |f| %>
    <%= f.label :progress, "Check the box once you finish this ERP plan", class: "form-check-label" %>
    <%= f.check_box :progress, class: "form-check-input toggle", checked: plan.accomplished? %>
  <% end %>
</div>
