<div class="report well well-lg">
  <h4>Progress Report</h4>
  <p><em>We've documented your progress toward mastery of OCD through ERP!</em></p>
  <br>
  <p>The report indicates that you <%= report(done, undone) %></p>
  <br>
</div>
