<div class="report well well-lg">
  <h4>Progress Report</h4>
  <p><em>We've documented your progress toward mastery of OCD through ERP!</em></p>
  <br>
  <p>The report indicates that you <%= report(done, undone) %></p>
  <br>

  <label><u>Finished Plans</u></label>:
  <% if done.empty? %>
    <small>No plans were marked as finished.</small>
  <% else %>
    <%= content_tag(:small, "All plans were marked as finished!") if undone.empty? %>
    <%= render partial: "plans_ul", locals: { plans: done } %>
  <% end %>

  <label><u>Unfinished Plans</u></label>:
  <% if undone.empty? %>
    <small>No plans were left unfinished.</small>
  <% else %>
    <%= content_tag(:small, "All plans were left unfinished.") if done.empty? %>
  <% end %>
</div>
