<div class="report well well-lg">
  <h4>ERP Progress Report</h4>
  <p>The report indicates that patient <%= planner(finished, unfinished) %> <%= report(finished, unfinished) %></p>
  <br>

  <% if finished %> <!-- If the patient selected has finished ERP plans -->
    <p><em>Finished ERP Plans:</em></p>
    <%= list_plans(finished) %>
  <% end %>

  <% if unfinished %> <!-- If the patient selected has unfinished ERP plans -->
    <p><em>Unfinished ERP Plans:</em></p>
    <%= list_plans(unfinished) %>
  <% end %>
</div>
