<div class="report well well-lg">
  <h4>Progress Report</h4>
  <p>The report indicates that patient <%= planner(done, undone) %> <%= report(done, undone) %></p>
  <br>

  <% if done %> <!-- If the patient selected has finished ERP plans -->
    <p><strong><u>Finished Plans</u></strong></p>
    <%= render partial: "plans_ul", locals: { plans: done } %>
    <br>
  <% end %>
</div>
