<h2>Editing ERP Plan</h2>

<br>

<h4>The overaching objective of an ERP plan is to develop distress tolerance!</h4>

<br>

<%= render partial: "plan", locals: { plan: @plan, obsession: @obsession } %>
