<h2>Editing ERP Plan</h2>

<br>

<h4>The overaching objective of an ERP plan is to develop distress tolerance!</h4>

<br>

<p>How can you improve this plan to optimize exposure to your obsessions to help you achieve desensitization?</p>

<%= render partial: "plan", locals: { plan: @plan, obsession: @obsession } %>
