<h2>Index of ERP Plans</h2>

<div>
  <%= render partial: filters, locals: { plans: policy_scope(Plan), counselees: @counselees, themes: @themes, your_obsessions: @your_obsessions } %>
</div>

<hr>

<% if @plans %>
  <%= render partial: "plans_div", locals: { plans: @plans } %>
<% elsif @done || @undone %> <!--Therapist filtered plans by patient's progress toward ERP plan completion-->
  <%= render partial: "plan_progress_div", locals: { done: @done, undone: @undone } %>
<% end %>
