<h1>Index of ERP Plans</h1>

<div>
  <h3>Filter ERP Plans by...</h3>

  <br>

  <%= render partial: filters, locals: { patients: @patients, themes: @themes, your_obsessions: @your_obsessions } %>
</div>

<br>

<% if @plan %>
  <p><%= link_to @plan.title, plan_path(@plan) %></p>
<% else %>
  <ul>
    <% @plans.each do |plan| %>
      <li><%= link_to plan.title, plan_path(plan) %></li>
    <% end %>
  </ul>
<% end %>
