<h1>Index of ERP Plans</h1>

<div>
  <h3>Filter ERP Plans by...</h3>

  <br>

  <%= render partial: filters, locals: { plans: policy_scope(Plan), patients: @patients, themes: @themes, your_obsessions: @your_obsessions } %>
</div>

<br>

<% if @plan %>
  <p><%= link_to @plan.title, plan_path(@plan) %></p>
<% elsif @plans %>
  <%= render partial: "plans_ul", locals: { plans: @plans } %>
<% elsif @completed || @not_yet_completed %> <!--Therapist filtered plans by patient's progress toward ERP plan completion-->
  <%= render partial: "plan_progress_div", locals: { completed: @completed, not_yet_completed: @not_yet_completed } %>
<% end %>
