<div class="well well-lg">
  <h3>Create an ERP Plan <small><em>...after reading some <%= link_to "helpful hints", about_path %>!</em></small></h3>

  <h4>Develop an exposure plan tailored to your obsession:</h4>

  <p><em>"<%= @obsession.intrusive_thought %>"</em></p>

  <br>

  <%= render partial: "plan", locals: { obsession: @obsession, plan: @plan } %>
</div>
