<div class="well well-lg">
  <h2>Create an ERP Plan</h2>

  <h4>Develop an exposure plan tailored to your obsession:</h4>

  <p><em>"<%= @obsession.intrusive_thought %>"</em></p>

  <br>

  <%= render partial: "plan", locals: { obsession: @obsession, plan: @plan } %>
</div>
