<h2>Create an ERP Plan</h2>

<h4>Develop a custom exposure plan that targets your obsession:</h4>

<p><em>"<%= @obsession.intrusive_thought %>"</em></p>

<br>

<%= render partial: "plan", locals: { obsession: @obsession, plan: @plan } %>
