<h1>Create an ERP Plan</h1>

<h4>Create a custom ERP plan tailored to your obsession!</h4>
<p><em>Our team of OCD specialists will refine its steps to maximize your personal progress as you strive to defeat OCD!</em></p>

<br>

<%= render 'plan' %>
