<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @plan.title %></h3>
    <label><em>an ERP plan designed by <%= @plan.designer.name %></em></label>
  </div>
  <!-- Add <div> with plan's existing steps here -->
</div>

<h3>Add a New Exercise to Your ERP Plan!</h3>
