<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @plan.title %></h3>
    <label><em>an ERP plan designed by <%= @plan.designer.name %></em></label>
  </div>
</div>
